


.life{
width: 71px;
height: 11px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-left: 93%;
}
.photo{
width: 71px;
height: 11px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-left: 55%;
}
.music{
width: 43px;
height: 11px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-left: 55%;
}
.travel{
width: 52px;
height: 11px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-left: 55%;
}
#minimo{
    width: 119px;
    height: 23px;
    color: #000000;
    font-family: Inconsolata;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 5%;
    margin-left: 16%;
    }
.image{
width: 1061px;
height: 509px;
margin-left: 50%;
margin-right: 20%;
}
.photo1{
width: 85px;
height: 11px;
color: #b4ad9e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
margin-left: 25%;
}
.perfect{
width: 397px;
height: 30px;
color: #626262;
font-family: "Playfair Display";
font-size: 30px;
font-weight: 400;
margin-left: 25%;
}

.p1{
width: 893px;
height: 183px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-left: 25%;
}
#liv{
color:#b4ad9e;
font-size: 90%;
font-family: Ubuntu;
margin-left: 25%;
text-transform: uppercase;
}
.row{
    margin-left: 23%;
    margin-right: -22%;
  
}
.p2{
width: 414px;
height: 63px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;

}
.pp{
width: 407px;
height: 30px;
color: #626262;
font-family: "Playfair Display";
font-size: 30px;
font-weight: 400;
}
.bg{
width: 1199px;
height: 287px;
background-color: #f0f0f0;
margin: 20px auto;
margin-left: 17%;

}
.sig{
width: 374px;
height: 30px;
color: #333333;
font-family: "Playfair Display";
font-size: 30px;
font-weight: 400;
letter-spacing: 0.75px;
text-align: center;
margin-left: 35%;
margin: 20px auto;
padding: 100px 0 0 0;
}
.mail{
width: 168px;
height: 12px;
color: #626262;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-left: 36%;
padding: 60px 0 0 0;
}
.line{
width: 399px;
height: 1px;
background-color: #000000;
margin-left: 35%;
margin-top: 3px

}
.icon{

width: 40px;
height: 1px;
margin-left: 65%;
padding: 1px 0 0 0;
margin-top: -33px;

}
.life1{
width: 63px;
height: 11px;
color: #b4ad9e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
}
.box{
width: 164px;
height: 60px;
border: 1px solid #626262;
margin-left: 45%;
}
.more{
width: 96px;
height: 17px;
color: #626262;
font-family: "Playfair Display";
font-size: 20px;
font-weight: 400;
line-height: 24px;
margin-left: 20%;
margin-top: 15px
}
.vec{
width: 1200px;
height: 97px;
background-color: #f0f0f0;
margin-left: 12%;
margin-right: 10%;
}
.temrs{
height: 12px;
columns: #000000;
font-size: 18px;
font-family: "Playfair Display";
margin-left: 12%;
margin-top: 27px;
font-weight: 400;
line-height: 24px;

}
.fol{
width: 42px;
height: 12px;
color: #000000;
font-family: "Playfair Display";
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-left: 81%;
margin-top: -23px
}
.fb{
width: 35px;
height: 35px;
margin-left: 87%;
margin-top: -17px
}
.tt{
    
    width: 35px;
    height: 35px;
    margin-left: 90%;
    margin-top: -35px;
}
.insta{
    width: 35px;
    height: 35px;
    margin-left: 93%;
margin-top: -35px;
}
.inta1{
    width: 35px;
    height: 35px;
    margin-left: 93%;
    margin-top: -35px;
}
#text{
    
    font-family: "Playfair Display";
   
     margin-left: 35%;
     font-size: 14px;
     color: black;
     border: none;
    width: 240px;
    margin-top: 40px;
     background-color: #f0f0f0;
 }
